.trigger-button {
  width: 50px;
  margin: 20px;
  font-size: 16px;
  font-weight: 200;
  font-family: 'Roboto';

  padding: 8px 15px 8px 15px;
  margin: 8px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.thumb-img {
  width: 40px;
}

.close-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.icon-close {
  color: black;
}

.popup-content {
  /* this class name is internally bind  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.5);
  width: 80%;
  height: 80%;
  padding: 5px;
}

.player-container {
  max-width: 80%;
}

@media screen and (width <= 600px) {
  .popup-content {
    width: 90%;
    height: 60%;
  }
  .player-container {
    max-width: 90%;
    max-height: 80%;
  }
}
